<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP |  Login Page</title>
</head>
<body>
<h1>NLP App</h1>

<h3>Register Here</h3>
{% if messages %}
  <p style="color:red">{{messages}}  </p>
{% endif %}
<form action="/perform_registration" method="post">

    <label >Name</label><br>
    <input type="text" name="user_name" required>
    <br>

    <label >Email</label><br>
    <input type="email" name="user_email" required><br>

    <label >password</label><br>
    <input type="password" name="user_password"  required><br><br>
    <input type="submit" value="Register">


</form>

<p>Already a memeber <a href="/">Login here</a></p>




</body>
</html>